<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/styleShow.css'/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>Artwork</title>
</head>
<body>

    <header>
        <div class="container">
          <a href="/artwork">   
            <img class="logo" src="https://i.imgur.com/pavAZM6.png">
          </a> 
          <nav>
            <% if (user) { %>
              <ul>
                <li><a class="links" href="/artwork">Back</a></li>
                <li><a class="links" href="/logout">Log out</a></li>
              </ul>
              <% } else { %>
                <ul>
                  <li><a class="links" href="/artwork">Back</a></li>
                  <li><a class="links" href="/auth/google">Log In</a></li>
                </ul>
            <% } %>
          </nav>
        </div>
      </header>








      <div class="body-container">

        <h1 class="title"><%= art.name %> </h1>
        <p class="posted-by">Posted By: <%= art.userName %> </p>
        <p class="description"><%= art.description %> </p>
        <div class="art-pic">
          <img src="<%= art.img %>">
        </div>
       
        <form class="delete-form" action="/artwork/<%= art._id %>?_method=DELETE" method="POST">
          <button class="delete-post" type="submit">Delete your Post</button>
        </form>
        

        <div class="all-comments">
          <p class="comment-header">Comments</p>
          <% art.comments.forEach(c => { %>
            <p class="comments"><%= c.userName %>: <%= c.comment %> </p>
            
            <% if (user && c.userId.equals(user._id)) { %>
            <form class="comments" action="/comments/<%= c._id %>?_method=DELETE" method="POST">
              <button class="comments" type="text" class="submit">delete</button><br>
            </form>
            <% } else { %>
            <br/>            
            <% } %>




            
          <% }) %>
        </div>

        <% if (user) { %>
          <div class="form-container">
            <form class="form" action="/artwork/<%= art._id %>/comments" method="POST">
                <div class="addComment">Add Comment Below</div>
    
            <div class="input-container ic1">
              <input id="comment" class="input" type="text" name="comment" placeholder=" " />
              <label for="comment" class="placeholder">add comment</label>
            </div>

            <button type="text" class="submit">submit</button>
           </form>
        </div>
        <% } else { %>
            <p class="login-to-comment">Login to add comments!</p>
        <% } %> 

        

      </div> 







</body>
</html>









